


<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Minerva</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Font Awesome icons (versão gratis)-->
    <script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fontes-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navegação-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
      <a class="navbar-brand" href="#page-top"><img src="~/Imagens/right-minerva-head-vintage-illustration-163210898.jpg" class="d-block w-200" alt="..."></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#services">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">O Projeto</a>
              <!--portfolio-->
            </li>
            

            <li class="nav-item"><a class="nav-link" asp-action="Contato" >Contato</a></li>

          
            <li class="nav-item"><a class="nav-link" asp-action="QuemSomos" >Quem Somos</a></li>

            

           
              <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cadastro2" asp-action="Index">Cadastro</a>
                        </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container">
        <div class="masthead-subheading">Seja bem-vinda!</div>
        <div class="masthead-heading text-uppercase">Mude a História!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services"
          >Conheça
        </a>
      </div>
    </header>
    <!-- Services-->
    <section class="page-section" id="services">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Como funciona</h2>
          <h3 class="section-subheading text-muted">Conectamos interesses</h3>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Vendedor</h4>
            <p class="text-muted">
           Na Minerva, a mulher poderá fazer seu cadastro e passar a oferecer seu serviço.
           Cabeleireiras, maquiadoras, fotógrafas, tatuadoras, professoras particulares, web designers 
           entre outros milhares de profissionais. Sinta-se à vontade nesse espaço.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Nosso Site</h4>
            <p class="text-muted">
             A Minerva permitirá a reunião de mulheres interessadas em oferecer e adquirir serviços, 
             como uma espécie de meio de troca. Com isso, possibilitará com que mulheres auxiliem outras mulheres,
             fortalecendo o crescimento pessoal e profissional, impulsionando o empreendedorismo feminino.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Cliente</h4>
            <p class="text-muted">
             Deseja contratar um serviço e encontra dificuldades em achar o que precisa? 
             Na Minerva você contará com as melhores profissionais, serviço de qualidade e 
             poderá apoiar o crescimento do empreendedorismo feminino.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- About-->
    <section class="page-section" id="about">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">O Projeto</h2>
          <h3 class="section-subheading text-muted">
            Conheça o projeto
          </h3>
        </div>
        <ul class="timeline">
          <li>
            <div class="timeline-image">
             
                    <img src="~/Imagens/Rede_de_Apoio2.jpg" class="rounded-circle img-fluid" alt="...">

            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Rede de apoio?!</h4>
                <h4 class="subheading">Já pensou como seria bom?</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Pessoas iguais a você, com interesses em comum buscando ...
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
          

              <img src="~/Imagens/Procurando.jpg" class="rounded-circle img-fluid" alt="...">

            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Tentou encontrar,</h4>
                <h4 class="subheading">mas não conseguiu?</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Nem sempre é fácil encontrar o que precisamos e no momento que
                  precisamos.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
             <img src="~/Imagens/MulhersJuntas2.jpg" class="rounded-circle img-fluid" alt="...">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Faça seu cadastro!</h4>
                <h4 class="subheading">Junte-se a outras pessoas.</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Na Minerva, profissionais poderão se cadastrar e oferecer serviço de qualidade para quem precisa.
                </p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>
                Seja
                <br />
                parte desta
                <br />
                História!
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Cases de Sucesso</h2>
          <h3 class="section-subheading text-muted">
            Todos os cases são totalmente fictícios, apenas para ilustração do
            projeto.
          </h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 1 VESTUÁRIO -->
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href="#portfolioModal1"
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
              
                <img src="~/Imagens/Roupas.png" class="img-fluid d-block mx-auto" alt="...">

              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Vestuário</div>
                <div class="portfolio-caption-subheading text-muted">
                  RoupasXYZ
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 2 TATUAGENS-->
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href="#portfolioModal2"
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
               
                <img src="~/Imagens/Tatuagem.png" class="img-fluid d-block mx-auto" alt="...">

              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Stúdio de Tatuagem</div>
                <div class="portfolio-caption-subheading text-muted">Tatua</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 3 FOTOGRAFIA -->
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href="#portfolioModal3"
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
             

                <img src="~/Imagens/Fotografia.png" class="img-fluid d-block mx-auto" alt="...">

              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Fotografia</div>
                <div class="portfolio-caption-subheading text-muted">
                  Identidade
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <!-- Portfolio item 4 MAQUIAGEM -->
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href="#portfolioModal4"
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
              

                <img src="~/Imagens/Maquiagem.png" class="img-fluid d-block mx-auto" alt="...">

              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">
                  Maquiagem Especializada
                </div>
                <div class="portfolio-caption-subheading text-muted">
                  Maquilagem
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
            <!-- Portfolio item 5 PROFESSORA -->
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href="#portfolioModal5"
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
            
                <img src="~/Imagens/Aulas.png" class="img-fluid d-block mx-auto" alt="...">

              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Aulas Particulares</div>
                <div class="portfolio-caption-subheading text-muted">
                  English Xpert
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Portfolio item 6 WEBDESIGN-->
            <div class="portfolio-item">
              <a
                class="portfolio-link"
                data-bs-toggle="modal"
                href="#portfolioModal6"
              >
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
              
                <img src="~/Imagens/Web.png" class="img-fluid d-block mx-auto" alt="...">

              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Web Design</div>
                <div class="portfolio-caption-subheading text-muted">
                  ImDesign
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="footer py-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 text-lg-start">SQUAD-16 &copy; RECODE PRO</div>
          <div class="col-lg-4 my-3 my-lg-0">
            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com"
              ><i class="fab fa-twitter"></i
            ></a>

            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.facebook.com"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <a
              class="btn btn-dark btn-social mx-2"
              href="https://br.linkedin.com"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
          <div class="col-lg-4 text-lg-end">
            <a class="link-dark text-decoration-none me-3" href="#!"
              >Política de privacidade</a
            >
            <a class="link-dark text-decoration-none" href="#!"
              >Termos de Uso</a
            >
          </div>
        </div>
      </div>
    </footer>
    <!-- Portfolio Modals-->
    <!-- Portfolio item 1 modal popup-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal1"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="close-modal" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="modal-body">
                  <!-- Projects details-->
                  <h2 class="text-uppercase">Roupas XYZ</h2>
                  <p class="item-intro text-muted">
                    Lorem ipsum dolor sit amet consectetur.
                  </p>
               
                   <img src="~/Imagens/Roupas.png" class="img-fluid d-block mx-auto" alt="...">

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Incidunt perspiciatis quo adipisci sunt ducimus expedita,
                    amet laborum officia facilis explicabo repellat libero
                    praesentium modi aut nostrum dicta et eligendi ut.
                  </p>
                  <ul class="list-inline">
                    <li>
                      <strong>Cliente:</strong>
                      RoupasXYZ
                    </li>
                    <li>
                      <strong>Categoria:</strong>
                      Vestuário
                    </li>
                  </ul>
                  <button
                    class="btn btn-primary btn-xl text-uppercase"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times me-1"></i>
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio item 2 modal popup-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal2"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="close-modal" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="modal-body">
                  <!-- Project details-->
                  <h2 class="text-uppercase">Stúdio Tatua</h2>
                  <p class="item-intro text-muted">Stúdio de tatuagem.</p>
              
                  <img src="~/Imagens/Tatuagem.png" class="img-fluid d-block mx-auto" alt="...">
                  
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                    optio nulla cumque? Corrupti harum quia consequatur tempore
                    molestias. Praesentium ipsa cupiditate dolorum sint
                    inventore suscipit doloribus nihil qui sed quis.
                  </p>
                  <ul class="list-inline">
                    <li>
                      <strong>Cliente:</strong>
                      Tatua
                    </li>
                    <li>
                      <strong>Categoria:</strong>
                      Desenho artístico
                    </li>
                  </ul>
                  <button
                    class="btn btn-primary btn-xl text-uppercase"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times me-1"></i>
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio item 3 modal popup-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal3"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
           <div class="close-modal" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="modal-body">
                  <!-- Project details-->
                  <h2 class="text-uppercase">Fotografia</h2>
                  <p class="item-intro text-muted">Identidade.</p>
             
                  <img src="~/Imagens/Fotografia.png" class="img-fluid d-block mx-auto" alt="...">
                
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Molestiae magnam laboriosam quae quasi dignissimos
                    laudantium beatae minus inventore assumenda rem dolores,
                    tenetur voluptas rerum labore eaque veniam aperiam? Hic,
                    eius?
                  </p>
                  <ul class="list-inline">
                    <li>
                      <strong>Cliente:</strong>
                      Identidade
                    </li>
                    <li>
                      <strong>Categoria:</strong>
                      Fotografia
                    </li>
                  </ul>
                  <button
                    class="btn btn-primary btn-xl text-uppercase"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times me-1"></i>
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio item 4 modal popup-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal4"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="close-modal" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="modal-body">
                  <!-- Project details-->
                  <h2 class="text-uppercase">Maquiagem Especializada</h2>
                  <p class="item-intro text-muted">Maquilagem.</p>
                
                  <img src="~/Imagens/Maquiagem.png" class="img-fluid d-block mx-auto" alt="...">
                  
                  <p>
                    Use this area to describe your project. Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat
                    aperiam quasi sunt officia expedita beatae cupiditate,
                    maiores repudiandae, nostrum, reiciendis facere nemo!
                  </p>
                  <ul class="list-inline">
                    <li>
                      <strong>Cliente: </strong>
                      Maquiagem Especializada
                    </li>
                    <li>
                      <strong>Categoria: </strong>
                      Maquilagem
                    </li>
                  </ul>
                  <button
                    class="btn btn-primary btn-xl text-uppercase"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times me-1"></i>
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio item 5 modal popup-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal5"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="close-modal" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
          </div>
          
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="modal-body">
                  <!-- Project details-->
                  <h2 class="text-uppercase">Aulas Particulares</h2>
                  <p class="item-intro text-muted">English Xpert.</p>
                
                  <img src="~/Imagens/Aulas.png" class="img-fluid d-block mx-auto" alt="...">
                  
                  <p>
                    Use this area to describe your project. Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat
                    aperiam quasi sunt officia expedita beatae cupiditate,
                    maiores repudiandae, nostrum, reiciendis facere nemo!
                  </p>
                  <ul class="list-inline">
                    <li>
                      <strong>Cliente:</strong>
                      English Xpert
                    </li>
                    <li>
                      <strong>Categoria:</strong>
                      Idiomas
                    </li>
                  </ul>
                  <button
                    class="btn btn-primary btn-xl text-uppercase"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times me-1"></i>
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio item 6 modal popup-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal6"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-bs-dismiss="modal">
            <div class="close-modal" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="modal-body">
                  <!-- Project details-->
                  <h2 class="text-uppercase">ImDesign</h2>
                  <p class="item-intro text-muted">Web Design.</p>
                <img src="~/Imagens/Web.png" class="img-fluid d-block mx-auto" alt="...">
                  <p>
                    Use this area to describe your project. Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Est blanditiis
                    dolorem culpa incidunt minus dignissimos deserunt repellat
                    aperiam quasi sunt officia expedita beatae cupiditate,
                    maiores repudiandae, nostrum, reiciendis facere nemo!
                  </p>
                  <ul class="list-inline">
                    <li>
                      <strong>Cliente:</strong>
                      ImDesign
                    </li>
                    <li>
                      <strong>Category:</strong>
                      Web Design
                    </li>
                  </ul>
                  <button
                    class="btn btn-primary btn-xl text-uppercase"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    <i class="fas fa-times me-1"></i>
                    Fechar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
